@import "tailwindcss";

:root{
  color-scheme: dark;
}
@theme{
  --indigo-500: #6366f1;
  --indigo-400: #818cf8;
  --indigo-600: #4f46e5;

  --gray-900: #0f172a;
  --gray-800: #1e293b;
  --gray-700: #334155;

  --gray-100: #f1f5f9;
  --gray-400: #94a3b8;
  --gray-500: #64748b;

  --color-bg-primary: #0f172a; /* nền chính */
  --color-bg-secondary: #1e293b; /* card / sidebar */
  --color-bg-tertiary: #334155; /* hover */

  --color-primary: #6366f1;
  --color-primary-hover: #818cf8;
  --color-primary-active: #4f46e5;

  --color-secondary-hover: #263449;

  --color-text-primary: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-text-muted: #64748b;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-bg-success: #22c55e1a;
  --color-bg-warning: #f59e0b1a;
  --color-bg-error: #ef44441a;
  --color-bg-info: #6366f11a;

  --color-border-primary: var(--gray-700);
  --color-border-success: #22c55e4d;
  --color-border-warning: #f59e0b4d;
  --color-border-error: #ef44444d;
  --color-border-info: #6366f14d;
}

.light{
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8fafc;
  --color-bg-tertiary: #e2e8f0;

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #64748b;

  --color-border-primary: #e2e8f0;
}

body{
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Inter, sans-serif;
}

@layer utilities{
  @keyframes dropdown-in {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(-4px);
    }
    to{
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes dropdown-out {
    from {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    to{
      opacity: 0;
      transform: scale(0.95) translateY(-4px);
    }
  }

  .animate-in{
    animation: dropdown-in 0.15s ease-out;
  }

  .animate-out{
    animation: dropdown-out 0.1s ease-in;
  }
}
